@charset "utf-8";

@font-face {
    font-family: 'destaque';
    src: url(../fontes/idroid.otf);
    font-weight: bold;
}
@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

    
    :root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84; 
    --core3:#2fa866;
    --core4:#1a5c37;
    --core5:#063d1e;


    --fonte-destaque: 'destaque';
    --fonte-externa:'Tilt Warp';
    --fonte-normal: Arial, Helvetica, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-image: linear-gradient(to bottom, rgba(0, 118, 0, 0.734),rgb(1, 49, 1));
    min-height: 150px;
}
header h1 {
    text-align: center;
    padding-top: 30px;
    font-family: var(--fonte-externa);
    color: white;
    font-size: 2.4em;
    text-shadow: 2px 2px 3px black;
}
header p {
    font-family: var(--fonte-normal);
    color: white;
    text-shadow: 1px 1px 2px black;
    font-size: 1.2em;
    max-width: 600px;
    text-align: center;
    margin: auto;
    padding: 10px;
}
nav {
    padding: 10px;
}
nav a {
    color: white;
    padding: 10px;
    padding-left: 10px;
    text-decoration: none;
    transition: 0.5s;
    border-radius: 8px;
    
    
}
nav a:hover {
    background-color: #047d3a;
    text-decoration: underline;
    

    

}
    

